.Header {
    height: 100%;
    font-family: headersFont;
    text-align: left;
    margin-left: 40px;
}
.user-image {
    width: 20px;
    height: 20px;
}

.username {
    position: absolute;
    font-family: headersFont;
    top: 5px;
    right: 5px;

}
@media screen and (max-width: 992px) {
    .username {
        right: 100px;
    }
    h1{
        font-size: large;
    }
    h1 > img{
        width: 70px;
        height: 70px;
    }
     
}